html,body
{
	margin:top 0px;
} 

/* Desktop */
@media only screen  and (max-width:1000px) {
    .experience-section .w3-col {
       display:none;
    }
} 

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 .experience-section .w3-col {
       display:none;
}
}

@font-face
{
	font-family: Caviar-Dreams-ttf;
    src: url('font/betsy_flanagan/CaviarDreams.ttf');
}

@font-face
{
	font-family: Caviar-Dreams-woff;
    src: url('font/betsy_flanagan/CaviarDreams.woff');
}

@font-face
{
	font-family: Caviar-Dreams-Bold-ttf;
    src: url('font/betsy_flanagan/Caviar_Dreams_Bold.ttf');
}


@font-face
{
	font-family: Caviar-Dreams-Bold-woff;
    src: url('font/betsy_flanagan/Caviar_Dreams_Bold.woff');
}


@font-face
{
	font-family:Betsy-Flanagan-TTF;
	src: url('font/betsy_flanagan/BetsyFlanagan.ttf');
}

@font-face
{
	font-family:Betsy-Flanagan-WOFF;
	src: url('font/betsy_flanagan/BetsyFlanagan.woff');
}

#header1{
font-family:"Caviar-Dreams-Bold-woff","Caviar-Dreams-Bold-ttf";
font-weight:bold;
text-decoration:underline;
text-align:center;
line-height:10px;
}


.headerlogo
{
	
	font-size:60px;
	font-weight:bold;
	color:#d35400;	
	
	
	/* text-shadow:3px 3px black; */
	font-family:"Betsy-Flanagan-WOFF","Betsy-Flanagan-TTF";
	-o- transition: color 1s;
	-ms- transition: color 1s;
	-moz- transition: color 1s;
	-webkit- transition: color 1s; 
	transition: color 1s;
	padding-top:15px;
	

	
}

#container
{
	width:100%;
	margin: 0px auto;	
	 position:absolute; 
}



.navbar {
     font-family:"Caviar-Dreams-Bold-woff","Caviar-Dreams-Bold-ttf";
      margin-bottom: 0;
      background-color: black;
      border: 0;
      font-size: 16px !important;
     letter-spacing: 4px;
      opacity: 0.8;
	 
	  font-weight:bold;
	  padding-bottom:15px;
  }

  .nav.navbar-nav.navbar-right li a:hover
{
		  color: #d35400!important;
} 

 

	
 #introbackground
{
	background-image: url("../images/keyboardblur.png");
	 /*  position: relative;  */  
	background-size:cover;
	height:100%;
	width:100%;
	text-align: center;
	display:block;
	padding-bottom:500px;
		
} 



 #indexbackground
{
	background-image: url("../images/Mais.jpg");
	 /*  position: relative;  */  
	background-size:cover;
	height:100%;
	width:100%;
	text-align: center;
	display:block;
	
	
} 


#imgintro:hover
{
	opacity:0.9;
}


.fontintro
{
	
	font-family:"Caviar-Dreams-Bold-woff","Caviar-Dreams-Bold-ttf";
	color: #7f8c8d;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-size: 20px;
}	





 .imgresponsive
{
	height: 60px;
	width: 60px;
	margin: 0 auto;
	padding: 22px 50px;
	
	
} 



/* Design of the footer content - bottom of the page. */
#the_footer 
{
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
	background-color:black;
	color: #d35400;
	clear:both;
	margin: 0;
	display:block;
	overflow:visible;
	text-align:center;
	font-size: 14px;
	font-family:"Caviar-Dreams-woff","Caviar-Dreams-ttf";
	font-weight: bold;
	text-decoration: underline;
	padding-top:20px;
	padding-bottom:10px;
	-webkit- transition: color 1s; 
	transition: color 1s;
	margin:auto;
		  
}

.fa{
	
	display:inline-block;
    font-size: 40px;
    line-height: 50px;
    color:#7f8c8d;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
	list-style: none;
	
}

.fa:hover{
	color:#d35400;
	background-color:black;
}


	
